.Button{
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    font-size: 1.2rem;
    -webkit-transition: all .3s;
    transition: all .3s;
    background-color: transparent;
    border: 2px solid grey;
    line-height: 1;
    padding: 15px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    margin: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.Button:hover{
    background-color: #260f28;
    color: #fff;
    border: 2px solid #260f28;
}

.Clicked{
    background-color: #260f28;
    color: #fff;
    border: 2px solid #260f28;
}

@media (max-width: 1100px) {
    .Button{
        font-size: smaller;
    }
}