.Button{
    font-size: 20px;
    font-size: 2.1rem;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-left: 2px solid #e4d6c7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e4d6c7;
    height: 100%;
    position: relative;
    text-align: center;
    width: 70px;
}

.Button:hover{
    color: #c2b4a6;
}


@media (max-width: 992px) {
    .Button{
        font-size: 16px;
        font-size: 1.6rem;
        width: 50px;
    }
}